<dialog open>
    <div class="mode">    
        <button [ngClass]="{'active': !enter, 'enter' : true}" (click)="enter=!enter">Войти</button>
        <button [ngClass]="{'active': enter, 'reg': true}" (click)="enter=!enter">Зарегестрироваться</button>
    </div>

    <form onsubmit="return false">
        <div *ngIf="enter" class="form">
            <input placeholder="Почта" [(ngModel)]="this.user.email" name="email" required>
            <input placeholder="Код доступа" [(ngModel)]="this.user.password" name="code" required>


            <button (click)="Enter()">Отправить</button>
            <p>{{status}}</p>
        </div>

        <div *ngIf="!enter" class="form">
            <input placeholder="Имя" [(ngModel)]="this.user.name" name="name" required>
            <input placeholder="Фамилия" [(ngModel)]="this.user.lastName" name="lastName" required>
            <input placeholder="Дата рождения" [(ngModel)]="this.user.birthday" name="birthday" required>
            <input placeholder="Почта" [(ngModel)]="this.user.email" name="email" required>
            <input placeholder="Родной город" [(ngModel)]="this.user.nativeCity" name="nativeCity" required>
            <input placeholder="Любимая цитата" [(ngModel)]="this.user.quote" name="quote" required>
            <input placeholder="Код доступа" [(ngModel)]="this.user.password" name="password" required>

            <button (click)="Reg()">Отправить</button>
            <p>{{status}}</p>
        </div>

    </form>
</dialog>