body {
    backdrop-filter: blur(5px);
    background-image: url("./media/etu.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
}

h1 {
    color: #000;
    font-family: 'Courier';
}

h2 {
    color: #000;
    font-family: 'Courier';
}

label {
    color: #000;
    font-family: 'Courier';
}

input {
    color: #000;
    font-family: 'Courier';
}

table {
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    border: 5px solid #05336e;
    background: white;
    color: black;
}

table {
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    border: 5px solid #05336e;
    background: white;
    color: black;
}


td {
    color: #000;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Courier';
    padding: 0.65em 1em;
}


tbody tr {
    transition: background 0.25s ease;
}

tr:hover td {
    background: #6d6e71;
    color: #fff;
}

#main {
    background: #bb8d54;
    color: #fff
}