doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Выживший
        link(rel="stylesheet", href="/styles/style.css")
    body
        div.header
            div.title
                h1#home АлексБибл :0)
                p Бегущий по лесу
            div.player
                h1#name #{name}           
                p#level #{level} уровень
            div.time
                h1#time