<div class="chat">
    <div *ngIf="this.id_chat == -1" class="absent-content">
        <h1>Выберите чат</h1>
    </div>

    <div *ngIf="this.id_chat != -1" class="messages">
        <ul>
            <li *ngFor="let msg of msgs; let idx = index" [ngClass]="{'comp' : this.id_chat == msg.author_id, 'mine' : this.id_chat != msg.author_id}" id="idx">
              
                    <h3>{{msg.author}}</h3>

                    <pre>{{msg.text}}</pre>


            </li>
        </ul>
    </div>

    <div *ngIf="this.id_chat != -1" class="input-field">
        <textarea placeholder="Введите сообщение..." [(ngModel)]="this.message" (keyup.enter)="SendMsg()"></textarea>
        <button (click)="SendMsg()"></button>
    </div>
</div>
