<h2 mat-dialog-title>Изменение аватарки</h2>
<mat-dialog-content>
    <p>Вы можете загрузить новую аватарку или удалить уже существующую</p>
    <form id="photo" action="http://localhost:3000/" method="post">
        <label for="input">Выбрать файл</label>
        <input type="file" id="input" name='file' (change)="UploadPhoto($event)" [(ngModel)]="file">
    </form>
    <button class="grey" (click)="DeletePhoto()" [mat-dialog-close]="false">Удалить аватарку</button>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close] = 'false'>Отменить</button>
</mat-dialog-actions>