include patterns/header

script(src='/scripts/records.js' type='module')

div.reg
    h1 Таблица рекордов
    table#records 
        tbody
            tr#req
                td#switch Уровень
                td Номер
                td Игрок
                td Текущее количество очков
                td Рекорд