include patterns/header

script(src='/scripts/reg.js' type='module')

div.reg
    form(action='/game', method='post')
        
        div
            label(for="name") Введите Имя
            input(placeholder='Введите своё имя', id='name', name='name' required)

            label(for='fir', class='level', id='fir_btn') 1 уровень
            input(type='radio', name='fir', id='fir')

            label(for='sec', class='level', id='sec_btn') 2 уровень
            input(type='radio', name='sec', id='sec')

            button(type='submit') Начать игру!


