<h2 mat-dialog-title>Изменение поста "{{data.title}}"</h2>
<mat-dialog-content>
    <form>
        <div class="form">
            <label for="name">Заголовок</label>
            <input placeholder="Незаполненное поле!!!" [(ngModel)]="this.news.title" [ngClass]="{'empty' : this.news.title==''}" name="title">

            <label for="lastName">Пост</label>
            <textarea placeholder="Незаполненное поле!!!" [(ngModel)]="this.news.text" 
            [ngClass]="{'empty' : this.news.text==''}" name="text" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="this.news" [disabled]="IsEmpty()" [ngClass]="{'disable': IsEmpty()}">Сохранить</button>
    <button mat-button [mat-dialog-close] ="null">Отменить</button>
</mat-dialog-actions>