doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title АлекБибл
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="/ajax.js")
    body
        .header
            h1 Официальный сайт Алексанрийской библиотеки.
            p Дата #{data}

            form(action="/", method="get")
                button(type="submit")
                    p(class="fa fa-home")


            if user.userName == "null"
                p.
                    Авторизуйтесь, чтобы получить права обычного пользователя или администратора!
                form(action="login", method="get")                                                          
                    button(type="submit", class="btn")
                        p(class="fa fa-home")
            else
                p Добро пожаловать, #{user.userName}
                form(action="/exit" method="post")
                    button(type="submit")
                        p Выход