include head

h2(class="w3-h2") Ассортимент библиотеки

if user.userRights == true
    button(onclick="window.addBook.showModal()", class="w3-btn w3-panel w3-leftbar")
            p(class="fa fa-plus") Добавить книгу
    
dialog#addBook
    form(action="addBook", method="post")
            label(for="title")
                p Название книги
            input(type="text", name="title", required, class="w3-input w3-light-grey") 

            label(for="dataRelease")
                p Дата выпуска
            input(type="text", name="dataRelease", required, class="w3-input w3-light-grey") 

            label(for="author")
                p Автор книги
            input(type="text", name="author", required, class="w3-input w3-light-grey") 
            br
            
            button(name="book", type="submit", value=num, class="w3-panel w3-leftbar")
                p Добавить
            
            button(type="button", onclick="window.addBook.close()", class="w3-panel w3-leftbar")
                p Отменить

form(name="filter")
    label(for="list")
        p Выберете желаемые параметры
    select(size="1", name="list", id="filterList", form="filter",  onchange="Req(this.options[this.selectedIndex].value)", class="w3-btn")
        option(value="byNothing") По умолчанию 
        option(value="byTitle") От А до Я
        option(value="byStock") Только в наличие
        option(value="byReturnDate") По дате возврата

include bookList